
{% extends 'Book\index.html'%}
{% load static %}

{% block content %}


<div class="jumbotron">
  <h1 CLASS="CENTER">UPDATA  {{update_book.title}} BOOK /h1>
  
  <p><a class="btn btn-primary btn-lg" href="" role="button">Back Dashpord</a></p>
</div>


<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">

    <div class="form-group">

      <form  action="{% url 'update_url' update_book.id %}" method="POST" >
         {% csrf_token %}
  
          <div class="form-group">
            <label  for="exampleInputName2" >Book Name</label>
            <input type="name" class="form-control" id="" name="namebook" value="{{update_book.title}}" >
          </div>
  
  
  
          <label for="name">Name Authr</label>
          <input type="name" class="form-control" id="" name="name_authr" value="{{update_book.name_authr}}" >
        </div>
                 
  
            <div class="form-group">
              <label for="name">Book Price </label>
              <input type="number" class="form-control" id="" name="price" value="{{update_book.price}}">
            </div>
  
  
            <div class="form-group">
              <label for="name">Published Date </label>
              <input type='date' class="form-control" id="" name="published_date" value="{{update_book.published_date}}">
            </div>
  
  
  
            <div class="form-group">
              <label for="name">stack</label>
              <input type="number" class="form-control" id="" name="stack"  value="{{update_book.stock_quantity}}">
            </div>
  
  
  
          <button type="submit"  class="btn btn-success" >Submit</button>
        </form>
  
      </div>
  

      <div class="col-md-4">
      </div>
      



</div>








{% endblock %}